@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');

*,
*:before,
*:after {
  box-sizing: border-box;
}

.triangle {
    display: inline-block;
    vertical-align: middle;
}

.triangle-0 {
  width: 60px;
  height: 60px;
  border-bottom: solid 30px rgb(0, 0, 0);
  border-right: solid 30px rgb(0, 0, 0);
  border-left: solid 30px transparent;
  border-top: solid 30px transparent;
}

header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-left: 2em;
}

header > div > h1 {
    font-size: 50px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}

header {
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
    background-color: #0A91AB;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #FFC045;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: +1;
}

li {
    display: flex;
    justify-content: space-around;
}

ul > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul > a:hover {
    color: #0A91AB; 
}

main {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h2 {
    color: #0A91AB;
}

.vSection {
    display: flex;
    gap: 2.75em;
    padding-left: 2em;
    padding-right: 2em;
}

.vArticle {
    flex: 1; 
    border: 2px solid #FFC045;
    text-align: center;
    min-width: 400px;
    border-style: dotted;
    border-radius: 5px;
    padding-bottom: 1em;
    text-align: start;
}

.divDescription {
    padding-left: 1em;
}

.vArticle > .aButton {
    width: 95%;
    display: flex;
    justify-content: right;
}

button {
    background-color: #FFC045;
    color: black;
    border: none;
    border-radius: 2px;
    padding: 0.8em;
    cursor: pointer;
}

h3 {
    color: #FFC045;
    font-weight: bolder;
}

p {
    color: gray;
}

.secondContainer {
    display: flex;
    gap: 1em;
}

img {
    max-width: 100%; 
    height: auto;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #33a7be8a;
    border: 2px black dotted;
    border-radius: 5px;
    min-width: 22vw;
    text-align: center;
    padding: 0px 1em;
}

.nSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.articlesDiv {
    display: flex;
    gap: 1em;
}

.nArticle {
    flex: 1;
    border: 2px solid #0A91AB;
    border-radius: 5px;
    position: relative;
}

span {
    display: block;
    margin: -1.5em;
    padding: -1.5em;
    width: auto;
    border: 5px solid #FFC045;
    border-radius: 5px;
}

aside > div > p {
    color: black;
}

.containerBGimage {
    width: 100%;
    height: 380px;
    background-image: url('https://assetsio.reedpopcdn.com/the-last-of-us-hbo-series-character-guide_4efk.h720.png?width=1200&height=630&fit=crop&enable=upscale&auto=webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.containerBGimage > button {
    margin: 1em;
}

.containerContent > div > p {
    color: black;
    text-align: left;
}

.containerContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    padding: 0em 2em;
}

.profileDiv {
    display: flex;
    justify-content: space-around;
    padding: 0em 1em;
}

.rankingImgs {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.rankingDiv {
    padding: 0.5em 1em;
}

.profileDiv > div > p {
    color: black;
}

footer {
    background-color: #8A8070;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px; 
}

footer > p {
    color: black;
    margin: 5px 0; 
    font-size: 14px;
}

footer > div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0; 
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    margin: 5px 0; 
    font-size: 18px;
}

.socialMedia > a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    margin: 5px 10px; 
}

.ubicacion > p {
    color: black;
    margin: 5px 10px; 
}

